.courseList {
    padding-top: 5;
  }
  
  .main-page {
    margin: 10px;
    margin-top: 20px;
  }
  
  .main-page CourseListHomePage {
    margin-top: 150px;
    margin-bottom: 100px;
  }

  .dueDateList {
    margin-top: 20px;
  }

  